<!DOCTYPE html>
<html>
<head>
    <title>Smitten Kittens</title>
</head>

<body>

<h1>Smitten Kittens</h1> <!--HOME PAGE-->

<a href="/admin/">Go to Admin</a>  <!--Easy link to admin page-->

<hr>

{% for listing in listings %} <!-- Loop through listings passed from views context -->

    <div>

        <h2>Listing #{{ listing.id }}</h2> <!--title for listing-->
            <!--Show listing info-->
        <p><strong>Owner:</strong> {{ listing.owner.username }}<br>
        <strong>Posted:</strong> {{ listing.created_date }}</p>

            <!--Loop through all kittens in listings-->
        {% for kitten in listing.kittens.all %}

            <div>
                    <!--Show kitten info-->
                <h3>{{ kitten.name }}</h3>
                <p>{{ kitten.description }}</p>

                <img src="{{ kitten.photo.url }}" width="200"> <!--Asks for a photo, if none is given, goes to default-->

            </div>

        {% empty %}
            <p>No kittens in this listing.</p> 
        {% endfor %}

    </div>

    <hr>

{% empty %}

    <p>No listings yet.</p>

{% endfor %}

