<title>Smitten Kittens</title>

<h1>{{ kitten.name }}</h1>

<h3>Listed by {{ kitten.listing.owner.username }}</h3>

<img src="{{ kitten.photo.url }}", width="500">

<p><strong>Status:</strong>  
{% if kitten.available %}
    Available
{% else %}
    Adopted
{% endif %} 
</p>

<!--If left blank then doesn't show on page-->
{% if kitten.gender %}
    <p><strong>Gender:</strong> {{ kitten.get_gender_display }}</p>
{% endif %}

<p><strong>Spayed/Neutered:</strong>
    {% if kitten.spayed %}
        Yes
    {% else %}
        No
    {% endif %}
</p>

<p>{{ kitten.description }}</p>