<title>Smitten Kittens</title>
<nav>
    <a href="/">Home</a> 
</nav>

<h1>{{ kitten.name|title }}</h1>

<h3>Listed by {{ kitten.listing.owner.username|title }}</h3>

<img src="{{ kitten.photo.url }}", width="500">

<p><strong>Status:</strong>  
{% if kitten.available %}
    Available
{% else %}
    Adopted
{% endif %} 
</p>

<!--Right now zipcodes are optional for testing-->
{% if city and state %}
    <p>{{ city }}, {{ state }}</p>
{% endif %}

<!--If left blank then doesn't show on page-->
{% if kitten.gender %}
    <p><strong>Gender:</strong> {{ kitten.get_gender_display }}</p>
{% endif %}

<p><strong>Spayed/Neutered:</strong>
    {% if kitten.spayed %}
        Yes
    {% else %}
        No
    {% endif %}
</p>

<p>{{ kitten.description }}</p>


{% if user == kitten.listing.owner %}
    <a href="{% url 'edit_kitten' kitten.id %}">
        Edit Kitten
    </a>

    <form method="post" action="{% url 'delete_kitten' kitten.id %}">
        {% csrf_token %}
        <button type="submit">
            Delete Kitten
        </button>
    </form>
{% endif %}