{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smitten Kittens</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="header">
        <nav>
            <a href="/">Home</a> <!--Navigation Bar at top of page-->

            {% if user.is_authenticated %}
                <span>{{ user.username|capfirst }}</span>
                <a href="/admin/">Admin</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
                <a href="/admin/">Admin</a>
            {% endif %}
        </nav>
        <h1 class="title">Smitten Kittens</h1>  <!--HOME PAGE-->
    </div>

    <div class="single_card">
        <div class="cat_image">
            <img src="{{ kitten.photo.url }}", width="500">
        </div>

        <div class="cat_information">
            <h1>{{ kitten.name|title }}</h1>

            <h3>Listed by {{ kitten.listing.owner.username|title }}<br>

            <strong>Status:</strong>  
            {% if kitten.available %}
                Available
            {% else %}
                Adopted
            {% endif %} 
            </h3>

            {% if city and state %}
                <p><strong>Location:</strong> {{ city }}, {{ state }}</p>
            {% endif %}

            {% if kitten.gender %}
                <p><strong>Gender:</strong> {{ kitten.get_gender_display }}</p>
            {% endif %}

            <p><strong>Spayed/Neutered:</strong>
                {% if kitten.spayed %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </p>

            <p>{{ kitten.description }}</p>
        </div>
    </div>

</body>
</html>